.seperating-border:not(:last-child), body .document .page.cv .left .jobs .content .entry:not(:last-child), body .document .page.cv .left .education .content .entry:not(:last-child), body .document .page.cv .left .certificates .content .entry:not(:last-child), body .document .page.cv .right .hobbies .content .entry:not(:last-child) {
  border-bottom: 1px solid #cccccc; }

* {
  border: 0;
  box-sizing: border-box; }

html {
  font-size: 15px; }

body {
  background-color: #ccc;
  font-family: "Roboto Condensed";
  font-size: 15px;
  color: #333333; }
  body .document {
    margin: 0 auto;
    width: 800px;
    height: calc(800px*1.4142135623730950*2);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "letter" "cv";
    grid-gap: 10px; }
    body .document .page {
      background-color: white;
      padding: 50px 30px;
      box-shadow: 0 0 25px 0px #aaa; }
      body .document .page.letter {
        grid-area: letter;
        display: grid;
        grid-template-columns: 3fr 4fr 3fr;
        grid-template-rows: auto auto auto auto 1fr auto auto;
        grid-template-areas: ". . sender" "addressee . ." ". . date" "title title title" "text text text" "signature . ." "attachments attachments attachments"; }
        body .document .page.letter .sender {
          grid-area: sender;
          place-self: center end;
          margin: 0 0 15px 0; }
        body .document .page.letter .addressee {
          grid-area: addressee;
          margin: 15px 0; }
        body .document .page.letter .date {
          grid-area: date;
          place-self: center end;
          margin: 10px 0; }
        body .document .page.letter .title {
          grid-area: title;
          font-size: 1.4rem;
          color: #cc0033;
          border-bottom: 1px solid #333333;
          margin: 15px 0 20px 0; }
        body .document .page.letter .text {
          grid-area: text;
          line-height: 1.25rem;
          text-align: justify;
          font-size: 1rem; }
        body .document .page.letter .attachments {
          grid-area: attachments;
          text-align: justify; }
          body .document .page.letter .attachments b {
            color: #cc0033; }
      body .document .page.cv {
        grid-area: cv;
        display: grid;
        grid-gap: 10px 25px;
        grid-template-columns: 65fr 35fr;
        grid-template-rows: 180px auto;
        grid-template-areas: "header header" "left right"; }
        body .document .page.cv .left, body .document .page.cv .right {
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          body .document .page.cv .left > div .title, body .document .page.cv .right > div .title {
            font-size: 1.4rem;
            color: #cc0033;
            border-bottom: 1px solid #333333; }
          body .document .page.cv .left > div .content, body .document .page.cv .right > div .content {
            font-size: 0.9rem;
            padding: 5px; }
        body .document .page.cv .right > div .content {
          padding: 10px; }
        body .document .page.cv .header {
          grid-area: header;
          display: grid;
          grid-template-rows: 2fr 1fr;
          grid-template-columns: 4fr 1fr;
          grid-template-areas: "person photo" "contact photo";
          font-size: 3.2rem; }
          body .document .page.cv .header .person {
            grid-area: person;
            font-size: 3.5rem;
            color: #cc0033;
            text-transform: uppercase; }
          body .document .page.cv .header .photo {
            grid-area: photo;
            background-image: url("../img/portrait.jpg");
            background-size: cover;
            background-position: center; }
          body .document .page.cv .header .contact {
            grid-area: contact;
            font-size: 0.85rem;
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between; }
            body .document .page.cv .header .contact .contact-info {
              width: 50%; }
              body .document .page.cv .header .contact .contact-info i {
                color: #cc0033;
                margin: 0 3px 0 5px; }
        body .document .page.cv .left {
          grid-area: left; }
          body .document .page.cv .left .jobs .content {
            margin: 0 -5px; }
            body .document .page.cv .left .jobs .content .entry {
              display: grid;
              grid-template-columns: 1fr 3fr 2fr;
              grid-template-rows: auto auto auto auto;
              grid-template-areas: "date job job" "date employer location" "date link link" "activities activities activities";
              margin: 2px 0; }
              body .document .page.cv .left .jobs .content .entry .job {
                grid-area: job;
                font-size: 1.1rem;
                font-weight: bold; }
              body .document .page.cv .left .jobs .content .entry .employer {
                grid-area: employer;
                font-size: 1rem;
                color: #cc0033; }
              body .document .page.cv .left .jobs .content .entry .date {
                grid-area: date;
                font-size: 0.7rem;
                margin: 5px;
                text-align: center;
                background-color: #f2bfcc;
                padding: 5px;
                place-self: center; }
              body .document .page.cv .left .jobs .content .entry .location {
                grid-area: location;
                font-size: 0.8rem;
                place-self: center end; }
              body .document .page.cv .left .jobs .content .entry .activities {
                grid-area: activities;
                padding: 5px 15px;
                font-size: 0.7rem;
                color: #666666; }
              body .document .page.cv .left .jobs .content .entry .link {
                grid-area: link;
                font-size: 0.7em; }
          body .document .page.cv .left .education .content .entry {
            display: grid;
            grid-template-columns: 1.5fr 2fr 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas: "institution institution graduation" "ed-level ed-level graduation" "date location location";
            margin: 2px -5px; }
            body .document .page.cv .left .education .content .entry > div {
              margin: 2px 0; }
            body .document .page.cv .left .education .content .entry .location {
              grid-area: location;
              place-self: center end;
              font-size: 0.8rem; }
            body .document .page.cv .left .education .content .entry .ed-level {
              grid-area: ed-level;
              color: #cc0033;
              font-size: 0.95rem; }
            body .document .page.cv .left .education .content .entry .date {
              grid-area: date;
              font-size: 0.8rem; }
            body .document .page.cv .left .education .content .entry .institution {
              grid-area: institution;
              font-size: 1rem;
              font-weight: bold; }
            body .document .page.cv .left .education .content .entry .graduation {
              grid-area: graduation;
              font-size: 1.4em;
              color: #cc0033;
              place-self: center;
              font-weight: bold; }
          body .document .page.cv .left .certificates .content .entry {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 4px 0; }
            body .document .page.cv .left .certificates .content .entry .certificate {
              font-size: 1rem;
              font-weight: bold; }
            body .document .page.cv .left .certificates .content .entry .date {
              font-size: 0.8rem; }
        body .document .page.cv .right {
          grid-area: right; }
          body .document .page.cv .right .strength .content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around; }
            body .document .page.cv .right .strength .content .entry {
              width: 50%;
              padding: 5px 0; }
              body .document .page.cv .right .strength .content .entry .nr {
                display: inline-block;
                width: 1.4em;
                height: 1.4em;
                padding: -1px 0 3px 0;
                font-weight: bold;
                text-align: center;
                border: 2px solid #cc0033;
                border-radius: 50%;
                color: #cc0033; }
              body .document .page.cv .right .strength .content .entry i {
                color: #cc0033; }
              body .document .page.cv .right .strength .content .entry .text {
                display: inline-block; }
          body .document .page.cv .right .languages .content {
            font-size: 0.9rem; }
            body .document .page.cv .right .languages .content .entry {
              display: flex;
              flex-direction: row;
              justify-content: space-between; }
              body .document .page.cv .right .languages .content .entry .text {
                display: inline-block; }
              body .document .page.cv .right .languages .content .entry .level {
                color: #cc0033;
                text-align: left; }
          body .document .page.cv .right .programming-languages .content li {
            font-size: 0.8rem;
            display: inline-block;
            list-style: none;
            background-color: #eda6b8;
            padding: 3px;
            margin: 2px; }
          body .document .page.cv .right .hobbies .content .entry {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: "symbol hobby" "symbol date" "description description";
            margin: 2px 0; }
            body .document .page.cv .right .hobbies .content .entry > div {
              margin: 2px; }
            body .document .page.cv .right .hobbies .content .entry .symbol {
              grid-area: symbol;
              font-size: 1.4rem;
              place-self: center;
              color: #cc0033; }
            body .document .page.cv .right .hobbies .content .entry .hobby {
              grid-area: hobby;
              font-size: 0.9rem;
              font-weight: bold; }
            body .document .page.cv .right .hobbies .content .entry .date {
              grid-area: date;
              font-size: 0.8rem; }
            body .document .page.cv .right .hobbies .content .entry .description {
              grid-area: description;
              color: #666666; }
          body .document .page.cv .right .motivation .content .entry {
            display: flex;
            flex-direction: row;
            margin: 2px 0; }
            body .document .page.cv .right .motivation .content .entry .symbol {
              font-size: 1.2rem;
              padding: 5px;
              color: #cc0033; }
            body .document .page.cv .right .motivation .content .entry .text {
              font-size: 1rem;
              flex: 1;
              align-self: center; }

@media print {
  body {
    margin: 0;
    padding: 0; }

  .document {
    grid-gap: 0px !important; }

  .page {
    margin: 0;
    box-shadow: none !important; } }
/*@import "variables";
* {
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: $fontSize;
}

body {
    background-color: #ccc;
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $primaryColor;
    .page {
        margin: 0 auto;
        width: 800px;
        height: calc(800px*1.4142135623730950*2);
        background-color: white;
        padding: 50px 30px;
        box-shadow: 0 0 25px 0px #aaa;
        display: grid;
        grid-gap: 10px 25px;
        grid-template-columns: 65fr 35fr;
        grid-template-rows: 180px auto;
        grid-template-areas: "header header" "left right";
        .left, .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &>div {
                margin-bottom: 10px;
                .title {
                    font-size: 1.4rem;
                    color: $secondaryColor;
                    border-bottom: 1px solid $primaryColor;
                }
                .content {
                    font-size: 0.9rem;
                    padding: 5px;
                }
            }
        }
        .right>div {
            .content {
                padding: 10px;
            }
        }
        .header {
            grid-area: header;
            display: grid;
            grid-template-rows: 2fr 1fr;
            grid-template-columns: 4fr 1fr;
            grid-template-areas: "person photo" "contact photo";
            font-size: 3.2rem;
            @import "header";
        }
        .left {
            grid-area: left;
        }
        .right {
            grid-area: right;
        }
        .jobs {
            @import "jobs";
        }
        .education {
            @import "education";
        }
        .strength {
            @import "strength";
        }
        .languages {
            @import "languages";
        }
        .programming-languages {
            @import "programming-languages";
        }
        .hobbies {
            @import "hobbies";
        }
        .certificates {
            @import "certificates";
        }
        .motivation {
            @import "motivation";
        }
    }
}

@media print {
    body {
        margin: 0;
        padding: 0;
        .page {
            //margin: 0;
            box-shadow: none;
        }
    }
}
*/
