.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .entry {
        width: 50%;
        padding: 5px 0;
        .nr {
            display: inline-block;
            width: 1.4em;
            height: 1.4em;
            padding: -1px 0 3px 0;
            font-weight: bold;
            text-align: center;
            border: 2px solid $secondaryColor;
            border-radius: 50%;
            color: $secondaryColor;
        }
        i {
            color: $secondaryColor;
        }
        .text {
            display: inline-block;
        }
    }
}